body {
    margin: 0;
    padding: 0;
    background-color: #252D3B;
}
.wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 400px;
    margin: 0 auto;
    padding: .8rem .5rem 0 .5rem;
    background-color: #0C0E0C;
    border-radius: .5rem;
}

.modes {
    display: flex;
    width: 5rem;
    height: 2rem;
    flex: 1 1 auto;
    background-color: #252D3B;
    border-radius: .8rem;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
img {
    width: 1.2rem;
    height: auto;
}

.active {
    filter: invert(1);
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 20rem;
    height: 10rem;
    padding: .5rem 0 1.5rem 0;
    gap: 1rem;
}

.big {
    font-size: 2.5em;
    padding: 0;
    margin: 0;
    color: white;
}
.small {
    font-size: 1em;
    padding: 0;
    margin: 0;
    color: white;
}


.btn-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #15161c;
    padding: 1.5rem 1rem 1rem 1rem;
    border-radius: 2.5rem;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: .4rem;
    background-color: #181a1d;
    color: white;
    border: none;
    font-size: 1.5em;
}

.row {
    display: flex;
    flex: 1 1 auto;
    gap: 1rem;
    padding: 0;
}

/* footer */

.credit {
    display: flex;
    padding: 0;
    font-size: .9em;
    color: white;

}

/* day mode */
.big.day,
.small.day {
    color: black;
}
.btn.day {
    background-color: #FFFFFF;
    color: black;
}

.btn-container.day {
    background-color: #F2F3F4;
}

.container.day {
    background-color: #fff;
}

body.day {
    background-color: #e8e8e1;
}

.credit.day {
    color: black;
}

.modes.day {
    background-color: #F9F9F3;
}